
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-body: #d9dada;
    --cor-white: white;
    --cor-text: #000;
    --cor-title: #3f4d62;
    --cor-subtitle: #919ba9;
    --cor-extra1: #7c7c7c;
    --cor-extra2: #7c7474;

    --font-one: 'Roboto', sans-serif;
    --font-two: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */

.logo {
    max-width: 50%;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

.navbar-menu ul li {
    margin-left: 20px;
}

.navbar-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-one);
    font-weight: 800;
}

.navbar-menu ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

/* Header styles */
.cabecalho {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.cabecalho .nome-empresa {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d3d3d3;
    font-size: 4em;
    text-shadow: 3px 3px 6px rgba(60, 75, 98, 0.8);
    z-index: 2;
    background: rgba(60, 75, 98, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid #8b94a2;
    animation: glow 1.5s infinite alternate;
    transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;
}

.cabecalho .nome-empresa:hover {
    color: #e4e4e6;
    background: rgba(116, 116, 116, 0.8);
    border: 2px solid #d3d3d3;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #d3d3d3, 0 0 30px #d3d3d3, 0 0 40px #8b94a2, 0 0 50px #8b94a2, 0 0 60px #8b94a2, 0 0 70px #8b94a2;
    }

    to {
        text-shadow: 0 0 30px #d3d3d3, 0 0 40px #8b94a2, 0 0 50px #8b94a2, 0 0 60px #8b94a2, 0 0 70px #8b94a2, 0 0 80px #8b94a2;
    }
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    padding: 60px 20px;
}

.titulo {
    font-size: 2em;
    font-family: var(--font-one);
    margin-bottom: 20px;
    text-align: center;
    color: var(--cor-title);
}

.subtitulo {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--cor-title);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Seção sobre */

.sobre-texto {
    font-size: 1.2rem;
    font-family: var(--font-two);
}

/* Seção serviços */

#servicos {
    background: var(--cor-body);
}

#servicos ul li {
    font-family: var(--font-two);
}

.container-trabalho {
    margin-left: 15px;
}

.container-trabalho h2 {
    background: var(--cor-subtitle);
}

/* Seção redes de contato */

.redes-contato {
    box-shadow: 0 0 10px rgba(60, 75, 98, 0.5);
    margin-bottom: 10px;
}

.redes-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.redes-div h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}

.redes-text a {
    text-decoration: none;
    color: var(--cor-text);
    font-size: 1rem;
}

/* Seção benefícios */

#beneficios {
    font-family: var(--font-two);
    margin-left: 15px;
}

#beneficios h3 {
    color: var(--cor-title);
}


/* Seção contato */

#contato {
    box-shadow: var(--cor-subtitle);
}

.contato-text {
    font-size: 1.1rem;
    margin-top: 30px;
    margin-left: 55%;
    margin-bottom: 10px;
}

.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contato-img {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.contato-form .titulo {
    text-align: center;
    color: var(--cor-title);
    font-size: 24px;
    margin-bottom: 20px;
}

.contato-form input[type="text"],
.contato-form input[type="tel"],
.contato-form input[type="email"],
.contato-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contato-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--cor-title);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contato-form button[type="submit"]:hover {
    background-color: #8b94a2;
}


/* Seção endereço */
.endereco-info {
    font-size: 1.2em;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#endereco {
    background-color: #d3d3d3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#endereco h2 {
    margin-top: 0;
    font-size: 2em;
}

.endereco-info {
    font-size: 1.2em;
    line-height: 1.6;
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Seção Rodape */

.rodape {
    background: var(--cor-title);
    color: var(--cor-white);
    padding: 20px;
    text-align: center;
}

.rodape a {
    color: var(--cor-white);
    text-decoration: none;
}

.rodape a:hover {
    text-decoration: underline;
}


/* Esconder o botão em telas maiores que 768px */
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }

    .mapa iframe {
        height: 450px;
    }
}

/* Mostrar o botão em telas menores que 768px */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}