/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */

.logo {
    max-width: 50%;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

.navbar-menu ul li {
    margin-left: 20px;
}

.navbar-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar-menu ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

/* Header styles */
.cabecalho {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    text-align: center;
}

.cabecalho .nome-empresa {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d3d3d3; /* Cor inicial do texto */
    font-size: 4em; /* Aumentar o tamanho da fonte */
    text-shadow: 3px 3px 6px rgba(60, 75, 98, 0.8); /* Aumentar a sombra para mais destaque */
    z-index: 2;
    background: rgba(60, 75, 98, 0.7); /* Fundo com #3c4b62 e 70% opacidade */
    padding: 20px 40px; /* Aumentar o padding para mais destaque */
    border-radius: 10px;
    border: 2px solid #8b94a2; /* Adicionar um contorno ao texto */
    animation: glow 1.5s infinite alternate;
    transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;
}

.cabecalho .nome-empresa:hover {
    color: #e4e4e6; /* Cor do texto ao passar o mouse */
    background: rgba(116, 116, 116, 0.8); /* Fundo com #747474 e 80% opacidade */
    border: 2px solid #d3d3d3; /* Alterar a cor do contorno ao passar o mouse */
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #d3d3d3, 0 0 30px #d3d3d3, 0 0 40px #8b94a2, 0 0 50px #8b94a2, 0 0 60px #8b94a2, 0 0 70px #8b94a2;
    }
    to {
        text-shadow: 0 0 30px #d3d3d3, 0 0 40px #8b94a2, 0 0 50px #8b94a2, 0 0 60px #8b94a2, 0 0 70px #8b94a2, 0 0 80px #8b94a2;
    }
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the header */
}

section {
    padding: 60px 20px;
}

.titulo {
    font-size: 2em;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.rodape {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.rodape a {
    color: white;
    text-decoration: none;
}

.rodape a:hover {
    text-decoration: underline;
}


/* Esconder o botão em telas maiores que 768px */
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

/* Mostrar o botão em telas menores que 768px */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}
